:root{
    --orange:#E76F51;
    --low-orang:#F8E1DB;
    --white:#FFFFFF;
    --gray:#D2D2D2;
    --black:#3B3735;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after , *::before {
    box-sizing:inherit ;

}

body{
    font-size: 1.6rem;
    line-height: 1.6;
    
}

/*  reset style */
a{
    text-decoration: none;
}

/* helper style */

/* app css */