/*

reset.css

*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*

reset.css

*/
@font-face {
  font-family: "achivo black";
  src: url("../fonts/Achivo/Archivo-Black.woff") format(woff);
  font-weight: 600;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto/Roboto-Medium.woff") format(woff);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff") format(woff);
  font-weight: 400;
}
/*

global

*/

.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
:root {
  --orange: #e76f51;
  --low-orang: #f8e1db;
  --body-bgc: #faf4f2;
  --white: #ffffff;
  --gray: #d2d2d2;
  --gray-brighter: #8d8d8d;
  --black: #3b3735;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0 auto;
  background: var(--body-bgc);
}

/*  reset style */
a {
  text-decoration: none;
}

/* helper style */
.btn {
  text-align: center;
  padding: 1.3rem 6.8rem;
  border-radius: 4rem;
  font-family: "Roboto Medium";
  color: var(--white);
  background: var(--gray);
}
/* app css */

.header {
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(59, 55, 53, 0.5)),
      to(rgba(59, 55, 53, 0.5))
    ),
    url("../images & icons/images/header-bg.jpg");
  background: -o-linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images & icons/images/header-bg.jpg");
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url("../images & icons/images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  border-bottom-right-radius: 9rem;
  border-bottom-left-radius: 9rem;
}
/* 
===========
  nav
===========
*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.5rem 0;
}
.menu__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* 
===========
  logo
===========
*/
.app-logo {
  display: block;
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 2.2rem;
}
.app-logo__img {
  width: 100%;
  height: 100%;
}
/* 
============
  main menu
============
*/
.menu {
  display: none;
}
.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-list__link {
  color: var(--gray);
  margin-left: 1.5rem;
  -webkit-transition: color 100ms ease-in 200ms;
  -o-transition: color 100ms ease-in 200ms;
  transition: color 100ms ease-in 200ms;
}
.menu-list__link:hover {
  color: var(--white);
}
.menu-list__link--active {
  color: var(--white);
  position: relative;
}
.menu-list__link--active::before {
  content: " ";
  position: absolute;
  width: 3.5rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--orange);
  -webkit-transform: translateY(1.2rem) rotate(45deg);
  -ms-transform: translateY(1.2rem) rotate(45deg);
  transform: translateY(1.2rem) rotate(45deg);
  right: 0;
  left: 0;
  margin: 0 auto;
}
/* 
===========================
  navigation menu (mobile)
===========================
*/
.nav-menu {
  position: fixed;
  background: var(--black);
  left: -25rem;
  top: 0;
  bottom: 0;
  width: 25rem;
  padding: 2rem;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.mobile_menu__list {
  margin-bottom: 0.9rem;
}
.mobile_menu__link {
  color: var(--white);
  position: relative;
  -webkit-transition: all 200ms ease-in-out 100ms;
  -o-transition: all 200ms ease-in-out 100ms;
  transition: all 200ms ease-in-out 100ms;
}
.mobile_menu__link:hover {
  padding: 2rem;
}
.mobile_menu__link::before {
  content: " ";
  width: 0rem;
  height: 0.3rem;
  background: var(--orange);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border-radius: 2rem;
  -webkit-transition: all 200ms ease-in-out 100ms;
  -o-transition: all 200ms ease-in-out 100ms;
  transition: all 200ms ease-in-out 100ms;
}
.mobile_menu__link:hover:before {
  width: 1.6rem;
}
.nav-menu__links {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-menu__link {
  color: var(--white);
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  font-family: "Roboto Medium";
}
.nav-menu__link--border {
  border: 1px solid var(--white);
  padding: 1rem;
  width: 100%;
  border-radius: 2rem;
  -webkit-transition: all 100ms ease-in 200ms;
  -o-transition: all 100ms ease-in 200ms;
  transition: all 100ms ease-in 200ms;
}
.nav-menu__link--border:hover {
  background: var(--white);
  color: var(--black);
}
/* 
==================================
  navigation menu (mobile) title
==================================
*/
.nav-menu__title {
  color: var(--white);
  font-size: 2rem;
  font-family: "achivo black";
  border-bottom: 1px solid var(--orange);
  padding: 1.5rem;
  text-align: center;
  text-wrap: nowrap;
  margin-bottom: 4rem;
}
/* 
=============================
  navigation menu (desktop)
=============================
*/
.header__links {
  display: none;
}
.header__link {
  font-family: "Roboto Medium";
  color: var(--white);
  margin-left: 2.5rem;
}
.header__link--border {
  border: 1px solid var(--white);
  padding: 1.2rem 2.5rem;
  border-radius: 2rem;
  -webkit-transition: all 100ms ease-in 200ms;
  -o-transition: all 100ms ease-in 200ms;
  transition: all 100ms ease-in 200ms;
}
.header__link--border:hover {
  background: var(--white);
  color: var(--black);
}
/* 
======================================
  create navigation btn (berger bar)
========================================
*/
.nav__btn {
  background: var(--white);
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nav__btn-line {
  display: block;
  width: 3.1rem;
  height: 0.3rem;
  background: var(--orange);
  border-radius: 1.5rem;
  position: relative;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
.nav__btn-line::after,
.nav__btn-line::before {
  content: " ";
  display: block;
  width: 3.1rem;
  height: 0.3rem;
  background: var(--orange);
  border-radius: 1.5rem;
  position: absolute;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.nav__btn-line::after {
  top: -0.8rem;
}
.nav__btn-line::before {
  top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
  background: transparent;
}
.nav__btn--open .nav__btn-line::after {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}
.nav__btn--open .nav__btn-line::before {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}
/* 
===========================
  create  header content
===========================
*/
.header__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 7rem;
  color: var(--white);
}
.header__content--title {
  font-family: "achivo black";
  font-size: 4.2rem;
  max-width: 42rem;
  text-wrap: wrap;
  text-align: center;
  line-height: 1.5;
}
.header__content--text {
  font-size: 1.8rem;
  text-wrap: wrap;
  text-align: center;
  margin-bottom: 3rem;
}
.header__content--btn {
  text-align: center;
  padding: 1.3rem 6.8rem;
  background: var(--orange);
  border-radius: 4rem;
  margin-bottom: 16rem;
  -webkit-transition: all 100ms ease-in 200ms;
  -o-transition: all 100ms ease-in 200ms;
  transition: all 100ms ease-in 200ms;
}
.header__content--btn:hover {
  text-align: center;
  padding: 1.3rem 6.8rem;
  background: var(--white);
  color: var(--orange);
  border-radius: 4rem;
  margin-bottom: 16rem;
}

/*main*/
main {
  margin-bottom: 18rem;
}

/*
===========================
  main side ( service )
===========================
 */
.main__services {
  margin-top: -10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.main__service {
  width: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  padding: 2rem;
  background: var(--white);
  color: var(--black);
  margin-bottom: 2.3rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 1rem;
  margin-left: 1rem;
}
.main__service--img {
  margin-top: 4rem;
}
.main__service--title {
  font-family: "achivo black";
  font-size: 1.8rem;
  padding: 1.2rem;
}
.main__service--content {
  margin-bottom: 4rem;
  width: 32rem;
}
/*
===========================
  main side ( shapes )
===========================
 */
.body__shape1 {
  position: absolute;
  z-index: -1;
  right: -52rem;
  top: -4rem;
}
.body__shape2 {
  position: absolute;
  top: 72rem;
  left: -58rem;
  z-index: -1;
}
/*
===========================
  main side ( destinations )
===========================
 */
.destinations {
  position: relative;
  overflow-x: hidden;
  color: var(--black);
}
.destinations__header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 12rem;
  margin-bottom: 5.5rem;
}
.destinations__header--title {
  font-size: 2.5rem;
  font-family: "achivo black";
  width: 28rem;
}

.destinations__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.destination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: var(--white);
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.destination--hidde {
  display: none;
}
.destination__wrap {
  margin-bottom: 3rem;
}

.destination__img {
  position: relative;
  margin-top: 1.5rem;
}
.destination__img--nature {
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}
.destination--icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 4rem;
  height: 4rem;
  background-color: var(--white);
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.3rem;
}
.heart__svg {
  color: var(--orange);
}
.heart__svg-active {
  fill: currentColor;
  color: var(--orange);
}
.destination__price {
  width: 14rem;
  background-color: var(--white);
  color: var(--orange);
  position: relative;
  border-radius: 2rem;
  padding: 1rem;
  margin: -3rem auto 2rem auto;
}
.price {
  font-family: "Roboto Medium";
}
.destination__content--title {
  font-size: 1.8rem;
  font-family: "achivo black";
}
.destination__content--text {
  width: 27rem;
  margin-bottom: 3.5rem;
}
.destination__content--btn {
  background-color: rgba(141, 141, 141, 0.1);
  color: var(--gray-brighter);
  -webkit-transition: all 100ms ease-in 200ms;
  -o-transition: all 100ms ease-in 200ms;
  transition: all 100ms ease-in 200ms;
}
.destination__content--btn:hover {
  background-color: var(--orange);
  color: var(--white);
}
.destinations__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3rem;
}
.destinations__btn--active {
  background-color: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
  -webkit-transition: all 100ms ease-in 200ms;
  -o-transition: all 100ms ease-in 200ms;
  transition: all 100ms ease-in 200ms;
}
.destinations__btn--active:hover {
  background-color: var(--orange);
  color: var(--white);
}
/*
===========================
  main side ( newsletter )
===========================
 */
.newsletter {
  background: var(--low-orang);
  color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-top: 10rem;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
}
.newsletter__content {
  text-align: center;
  z-index: 1;
}
.newsletter__content--title {
  font-family: "achivo black";
  font-size: 3rem;
  text-align: center;
  margin: 1.5rem auto;
}
.newsletter__content--caption {
  font-family: "Roboto Medium";
  margin-bottom: 2rem;
}
.newsletter__content--email_box {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  height: 7rem;
}
.newsletter__content--email_box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.email__svg {
  color: var(--gray-brighter);
}
.newsletter__input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: var(--gray-brighter);
  font-size: 1.8rem;
}
.newsletter__submit-btn {
  border-radius: 1.5rem;
  background-color: var(--orange);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}
.send__svg {
}
.newsletter__baner {
  z-index: 1;
}
.newsletter__baner--img {
  width: 100%;
}
.newsletter__shape {
  position: absolute;
  bottom: -8px;
  z-index: 0;
  bottom: -25rem;
  left: -65rem;
  -webkit-transform: rotate3d(1, 1, 1, 25deg);
  transform: rotate3d(1, 1, 1, 25deg);
}

/* footer */
footer {
  background-color: var(--low-orang);
  border-top-right-radius: 9rem;
  border-top-left-radius: 9rem;
  padding-bottom: 5rem;
  color: var(--black);
}
/*
==================
  footer(wraper)
==================
*/
.footer-wraper__container {
  text-align: center;
}
.footer__wraper-left {
  -ms-flex-preferred-size: 42%;
  flex-basis: 42%;
}
.footer__wraper-right {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2rem;
}
/*
===================================
  footer(wraper-left=>title&link)
===================================
*/
.footer-content {
}
.footer__title {
  font-size: 1.8rem;
  font-family: "achivo black";
  margin-bottom: 1rem;
}
.footer__content {
  margin-bottom: 2.5rem;
}
.footer-apps {
  display: none;
}
.footer-apps__mobile {
}
.footer-apps__link {
  margin-right: 1.5rem;
}
.footer-apps__img {
}
/*
===================================
  footer(wraper-left=>title&link)
===================================
*/
.footer__list {
  width: 100%;
  margin-bottom: 2rem;
}
.footer-page {
}
.footer-page__item {
  margin-bottom: 1rem;
}
.footer-page__link {
  color: var(--black);
}
.footer-page__link:hover {
  color: var(--orange);
  text-decoration: underline;
}
/*
====================
  footer(copyright)
====================
*/
.footer__copy-right {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 5rem;
}
/*
====================
  footer(arrow-pop)
====================
*/
.arrow__pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff;
  border-radius: 2rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -2rem;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.arrow__pop > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
===========================
  footer(select container)
===========================
*/
footer > .container {
  padding-top: 8rem;
}
/*
================
  loading page
================
*/
.loading_page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.loadering__page--diactive {
  opacity: 0;
}
.loader {
  width: 95px;
  height: 95px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  -webkit-animation: rotationBack 1s linear infinite;
  animation: rotationBack 1s linear infinite;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotationBack {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/*

responsive

*/
@media only screen and (max-width: 380px) {
  .newsletter__content--title {
    max-width: 16rem;
  }
}
@media only screen and (min-width: 476px) {
  .footer__wraper-right {
    justify-content: space-between;
  }
  .footer__list {
    width: 18rem;
  }
}
@media only screen and (min-width: 576px) {
  .header__content--title {
    font-family: "achivo black";
    font-size: 7.2rem;
    text-wrap: wrap;
    max-width: 50rem;
    text-align: center;
  }
  .header__content--text {
    max-width: 50rem;
  }
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .nav__btn {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .destination--hidde {
    display: flex;
  }
  .newsletter {
    flex-direction: row;
  }
  .newsletter__content {
    flex-basis: 60%;
    text-align: left;
    padding-right: 4rem;
  }
  .newsletter__content--title {
    text-align: left;
  }
  .newsletter__baner {
    flex-basis: 40%;
  }
  .newsletter__shape {
    bottom: -21rem;
    left: -50rem;
  }
  .arrow__pop {
    margin: auto;
    left: auto;
    right: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .header__links {
    display: block;
  }
  .newsletter__content {
    padding-right: 6rem;
  }
  .newsletter__content--title {
    margin-bottom: 0.5rem;
  }
  .newsletter__shape {
    bottom: -19rem;
    left: -37rem;
  }
  .footer-apps {
    display: block;
  }
  .footer-apps__mobile {
    display: none;
  }
  .footer-wraper__container {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
}

@media only screen and (min-width: 1200px) {
  .newsletter__content {
    flex-basis: auto;
    width: 60rem;
    padding-right: 0;
  }
  .newsletter__baner {
    flex-basis: auto;
    width: 42rem;
  }
  .newsletter {
    justify-content: space-between;
  }
  .newsletter__shape {
    bottom: -20rem;
    left: -20rem;
  }
}

@media only screen and (min-width: 1400px) {
  .newsletter {
    padding: 3rem 6rem;
  }
}
