@font-face {
  font-family: "achivo black";
  src: url("../fonts/Achivo/Archivo-Black.woff") format(woff);
  font-weight: 600;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto/Roboto-Medium.woff") format(woff);
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.woff") format(woff);
  font-weight: 400;
}
