@media only screen and (min-width: 576px) {
  .header__content--title {
    font-family: "achivo black";
    font-size: 7.2rem;
    text-wrap: wrap;
    max-width: 50rem;
    text-align: center;
  }
  .header__content--text {
    max-width: 50rem;
  }
}

@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .nav__btn {
    display: none;
  }
  .nav-menu {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .header__links {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {
}
